* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Roboto Mono', monospace;
  min-height: 37.5rem;
  background-color: #432a52;
  background-size: cover;
  background-position: center bottom;
  background-repeat: no-repeat;
}

input {
  width: 5rem;
}

.container {
  text-align: center;
  padding: 1.25rem;
  height: 100vh;
}

.page-title {
  color: #ffffff;
  margin: 0 0 0.3125rem;
}

.page-subtitle {
  color: #ffffff;
  margin-top: 1rem;
}

.page-logo {
  width: 12.5rem;
}

.alura-logo {
  width: 2.5rem;
  position: absolute;
  top: 10px;
  right: 10px;
}

@media (max-height: 500px) {
  body {
    min-height: 50rem;
  }
}

input {
  margin: 0.25rem;
  padding: 0.375rem;
  border-radius: 5px;
}

button {
  margin-top: 0.75rem;
  padding: 0.25rem 0.5rem;
  border-radius: 10px;
  background: #ffffff;
}

.resultado {
  color: #ffffff;
  text-align: center;
  margin-top: 1rem;
}
